/*Color mixin*/

@mixin color($map, $prefix: null) {
  @each $theme, $color in $map {
    @if $prefix != null {
      .#{$prefix}.#{$theme} {
        background-color: $color;
      }
    } @else {
      .#{$theme} {
        background-color: $color;

        &:hover {
          background-color: lighten($color, 15%);
        }
      }
    }
  }
}

/*Media Query Mixin*/

@mixin mq($break) {
  @if $break == "small" {
    @media (min-width: $brkpoint) {
      @content;
    }
  } @else {
    @error "No value could be retrieved.";
  }
}
