/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@include mq(small) {
  .container {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    .centered {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .row {
      flex-direction: row;

      @for $i from 1 through 12 {
        .col-#{$i} {
          flex-basis: (100% / 12) * $i;
        }
      }
    }

    .nav {
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      &-link {
        flex-basis: 100px;
      }
    }

    .btn {
      padding: 10px 30px;
      + .btn {
        margin-left: 10px;
      }
    }

    & [class^="col"] {
      display: flex;
      justify-content: center;
      margin-top: 0;
      align-items: center;

      + [class^="col"] {
        margin-left: 10px;
      }
    }
  }
}
